# Project : Iphone analysis

In [1]:
import pandas as pd
import numpy as np

In [3]:
# Read the dataset
df = pd.read_csv("C://Users//HP//Downloads//iphone.csv")
df

,Product Name,Product URL,Brand,Sale Price,Mrp,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,11202,794,MOBEXRGVMZWUHCBA,NaN,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB
...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB
58,"APPLE iPhone 11 (Purple, 64 GB)",https://www.flipkart.com/apple-iphone-11-purpl...,Apple,46999,54900,43470,3331,MOBFWQ6BTFFJKGKE,4.6,4 GB
59,"APPLE iPhone 11 (White, 64 GB)",https://www.flipkart.com/apple-iphone-11-white...,Apple,46999,54900,43470,3331,MOBFWQ6BVWVEH3XE,4.6,4 GB
60,"APPLE iPhone 11 (Black, 64 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,46999,54900,43470,3331,MOBFWQ6BXGJCEYNY,4.6,4 GB
61,"APPLE iPhone 11 (Red, 64 GB)",https://www.flipkart.com/apple-iphone-11-red-6...,Apple,46999,54900,43470,3331,MOBFWQ6BYYV3FCU7,4.6,4 GB

### 1. Rename Columns with Underscores
## Description: The dataset has column names with spaces. To standardize and improve readability, rename these columns to use underscores ('_') instead of spaces.

In [5]:
# Rename columns to replace spaces with underscores
df.columns = df.columns.str.replace(' ', '_')
df

,Product_Name,Product_URL,Brand,Sale_Price,Mrp,Number_Of_Ratings,Number_Of_Reviews,Upc,Star_Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,11202,794,MOBEXRGVMZWUHCBA,NaN,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB
...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB
58,"APPLE iPhone 11 (Purple, 64 GB)",https://www.flipkart.com/apple-iphone-11-purpl...,Apple,46999,54900,43470,3331,MOBFWQ6BTFFJKGKE,4.6,4 GB
59,"APPLE iPhone 11 (White, 64 GB)",https://www.flipkart.com/apple-iphone-11-white...,Apple,46999,54900,43470,3331,MOBFWQ6BVWVEH3XE,4.6,4 GB
60,"APPLE iPhone 11 (Black, 64 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,46999,54900,43470,3331,MOBFWQ6BXGJCEYNY,4.6,4 GB
61,"APPLE iPhone 11 (Red, 64 GB)",https://www.flipkart.com/apple-iphone-11-red-6...,Apple,46999,54900,43470,3331,MOBFWQ6BYYV3FCU7,4.6,4 GB

### 2. Fill Missing Values with Average Rating
### Description: Some models have missing ratings. Fill these missing values with the average rating of all models to ensure completeness in the dataset.

In [8]:
# Calculate the average rating excluding missing values
average_rating = df['Star_Rating'].mean(skipna=True)
average_rating

4.576271186440679

In [9]:
# Fill missing values with the calculated average rating
df['Star_Rating'].fillna(average_rating, inplace=True)

### 3. Fill Missing Ratings Based on RAM
### Description: Instead of using the global average rating, fill missing ratings based on the average rating of phones with the same RAM specification. Two methods are provided for achieving this.

#### Method 1: Using a Custom Function

In [13]:
# Calculate the average rating for each RAM group
average_ratings_by_ram = df.groupby('Ram')['Star_Rating'].mean()
average_ratings_by_ram

Ram
2 GB    4.544329
3 GB    4.600000
4 GB    4.588837
6 GB    4.577698
Name: Star_Rating, dtype: float64

In [15]:
# Function to fill missing ratings based on RAM
def fill_missing_rating(row):
    if pd.isna(row['Star_Rating']):
        return average_ratings_by_ram.get(row['RAM'], None)
    return row['Star_Rating']

# Apply the function to fill missing ratings
df['Star_Rating'] = df.apply(fill_missing_rating, axis=1)
df['Star_Rating']

0     4.600000
1     4.600000
2     4.600000
3     4.576271
4     4.500000
        ...
57    4.500000
58    4.600000
59    4.600000
60    4.600000
61    4.600000
Name: Star_Rating, Length: 62, dtype: float64

#### Method 2: Using GroupBy and Merge

In [18]:
# Calculate the average rating for each RAM group
average_ratings_by_ram = df.groupby('Ram')['Star_Rating'].mean().reset_index()
average_ratings_by_ram

    Ram  Star_Rating
0  2 GB     4.544329
1  3 GB     4.600000
2  4 GB     4.588837
3  6 GB     4.577698

In [20]:
# Rename the column for clarity
average_ratings_by_ram.rename(columns={'Star_Rating': 'Average_Rating'}, inplace=True)

# Merge to fill missing ratings based on RAM
df = df.merge(average_ratings_by_ram, on='Ram', how='left')

# Fill missing ratings with the calculated average ratings
df['Star_Rating'].fillna(df['Average_Rating'], inplace=True)

# Drop the 'Average_Rating' column if not needed
df.drop(columns=['Average_Rating'], inplace=True)

In [21]:
df

,Product_Name,Product_URL,Brand,Sale_Price,Mrp,Number_Of_Ratings,Number_Of_Reviews,Upc,Star_Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,3431,356,MOBEXRGV7EHHTGUH,4.600000,2 GB
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVAC6TJT4F,4.600000,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVGETABXWZ,4.600000,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,11202,794,MOBEXRGVMZWUHCBA,4.576271,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,11202,794,MOBEXRGVPK7PFEJZ,4.500000,2 GB
...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,95909,8161,MOBFWQ6BR3MK7AUG,4.500000,4 GB
58,"APPLE iPhone 11 (Purple, 64 GB)",https://www.flipkart.com/apple-iphone-11-purpl...,Apple,46999,54900,43470,3331,MOBFWQ6BTFFJKGKE,4.600000,4 GB
59,"APPLE iPhone 11 (White, 64 GB)",https://www.flipkart.com/apple-iphone-11-white...,Apple,46999,54900,43470,3331,MOBFWQ6BVWVEH3XE,4.600000,4 GB
60,"APPLE iPhone 11 (Black, 64 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,46999,54900,43470,3331,MOBFWQ6BXGJCEYNY,4.600000,4 GB
61,"APPLE iPhone 11 (Red, 64 GB)",https://www.flipkart.com/apple-iphone-11-red-6...,Apple,46999,54900,43470,3331,MOBFWQ6BYYV3FCU7,4.600000,4 GB

### 4. Create a Discount Percentage Column
### Description: Calculate the discount percentage for each model based on the MRP (Maximum Retail Price) and sale price, and add this as a new column in the dataset.

In [25]:
df['Discount_Percentage'] = ((df['Mrp'] - df['Sale_Price']) / df['Mrp']) * 100
df['Discount_Percentage']

0      0.000000
1      0.000000
2      0.000000
3      0.000000
4      0.000000
        ...
57    24.814536
58    14.391621
59    14.391621
60    14.391621
61    14.391621
Name: Discount_Percentage, Length: 62, dtype: float64

### 5. Find the Model with the Highest Discount Percentage
### Description: Identify the model that offers the highest discount percentage based on the calculated discount values.

In [52]:
sorted_df = df.sort_values(by='Discount_Percentage', ascending=False)
model_with_highest_discount = sorted_df.iloc[0]['Product_Name']
highest_discount_percentage = sorted_df.iloc[0]['Discount_Percentage']

highest_discount_percentage

29.644465290806753

### 6. Count of Models by Space Configuration
### Description: Determine the total number of models available for each space configuration (e.g., 128 GB, 64 GB) in the dataset.

In [29]:
# Count the number of models for each RAM configuration
space_configuration_counts = df['Ram'].value_counts().reset_index()

# Rename columns for clarity
space_configuration_counts.columns = ['Space_Configuration', 'Total_Models']
space_configuration_counts

  Space_Configuration  Total_Models
0                4 GB            29
1                6 GB            19
2                2 GB            13
3                3 GB             1

### 7. Count of Models by Color
### Description: Extract color information from the product names and count the number of models available for each color.

In [30]:
# Total Number of Models for Each Color

# Function to extract color
def extract_color(product_name):
    parts = product_name.split('(')
    if len(parts) > 1:
        color_part = parts[1].strip()
        if ',' in color_part:
            color = color_part.split(',')[0].strip()
            return color
    return None

# Apply the function to create a 'Color' column
df['Color'] = df['Product_Name'].apply(extract_color)

# Count the number of models for each color
color_counts = df['Color'].value_counts().reset_index()

# Rename columns for clarity
color_counts.columns = ['Color', 'Total_Models']
color_counts

             Color  Total_Models
0            Black            10
1            White            10
2           Silver             7
3             Gold             6
4       Space Grey             6
5              Red             5
6   Midnight Green             4
7     Pacific Blue             4
8         Graphite             4
9             Blue             2
10             RED             1
11           Coral             1
12           Green             1
13          Purple             1

### 8. Count of Models by iPhone Version
### Description: Extract the iPhone version from the product names and count the number of models for each iPhone version.

In [33]:
# Total Number of Models by iPhone Version

# Function to extract iPhone version
def extract_iphone_version(product_name):
    parts = product_name.split('iPhone')
    if len(parts) > 1:
        version = parts[1].strip().split(' ')[0]
        return 'iPhone ' + version
    return None

# Apply the function to create an 'iPhone_Version' column
df['iPhone_Version'] = df['Product_Name'].apply(extract_iphone_version)

# Count the number of models for each iPhone version
iphone_version_counts = df['iPhone_Version'].value_counts().reset_index()

# Rename columns for clarity
iphone_version_counts.columns = ['iPhone_Version', 'Total_Models']
iphone_version_counts

  iPhone_Version  Total_Models
0      iPhone 12            26
1      iPhone 11            16
2       iPhone 8             8
3      iPhone SE             6
4      iPhone XR             5
5      iPhone XS             1

### 9. List Top 5 Models with Highest Number of Reviews
### Description: Identify and list the top 5 models based on the number of reviews they have received.

In [35]:
# Top 5 Models with Highest Number of Reviews

# Sort by 'Number_Of_Reviews' in descending order and select top 5
top_5_models = df.sort_values(by='Number_Of_Reviews', ascending=False).head(5)
top_5_models

,Product_Name,Product_URL,Brand,Sale_Price,Mrp,Number_Of_Ratings,Number_Of_Reviews,Upc,Star_Rating,Ram,Discount_Percentage,Color,iPhone_Version
23,"Apple iPhone SE (White, 256 GB)",https://www.flipkart.com/apple-iphone-se-white...,Apple,44999,54900,95909,8161,MOBFRFXHPZCHAPEH,4.5,2 GB,18.034608,White,iPhone SE
53,"APPLE iPhone SE (Black, 128 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,34999,44900,95909,8161,MOBFWQ6BHUEVZPXD,4.5,2 GB,22.051225,Black,iPhone SE
55,"APPLE iPhone SE (Red, 128 GB)",https://www.flipkart.com/apple-iphone-se-red-1...,Apple,34999,44900,95909,8161,MOBFWQ6BJTVFKPEJ,4.5,2 GB,22.051225,Red,iPhone SE
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB,24.814536,Black,iPhone SE
52,"APPLE iPhone SE (White, 64 GB)",https://www.flipkart.com/apple-iphone-se-white...,Apple,29999,39900,95807,8154,MOBFWQ6BGWDVGF3E,4.5,2 GB,24.814536,White,iPhone SE

### 10. Price Difference Between Highest and Lowest MRP
### Description: Calculate the price difference between the iPhone model with the highest MRP and the one with the lowest MRP.

In [37]:
# Price Difference Between Highest and Lowest MRP

# Find the highest and lowest MRP values
highest_mrp = df['Mrp'].max()
lowest_mrp = df['Mrp'].min()

# Calculate the price difference
price_difference = highest_mrp - lowest_mrp

### 11. Total Number of Reviews for iPhone 11 and iPhone 12
### Description: Calculate the total number of reviews for iPhone 11 and iPhone 12 models only.

In [38]:
# Total Number of Reviews for iPhone 11 and iPhone 12

# Categorize products based on 'Product_Name'
df['iPhone_Category'] = 'Other'
df.loc[df['Product_Name'].str.contains('iPhone 11', case=False), 'iPhone_Category'] = 'iPhone 11'
df.loc[df['Product_Name'].str.contains('iPhone 12', case=False), 'iPhone_Category'] = 'iPhone 12'

# Group by 'iPhone_Category' and sum reviews
category_reviews = df.groupby('iPhone_Category')['Number_Of_Reviews'].sum().reset_index()

# Filter for 'iPhone 11' and 'iPhone 12'
result_df = category_reviews[category_reviews['iPhone_Category'].isin(['iPhone 11', 'iPhone 12'])]
result_df

  iPhone_Category  Number_Of_Reviews
1       iPhone 11              25965
2       iPhone 12               2208

### 12. iPhone with the 3rd Highest MRP
### Description: Find and display the details of the iPhone model with the third highest MRP.

In [41]:
 # iPhone with the 3rd Highest MRP

# Sort by 'MRP' in descending order and get the 3rd highest
third_highest_mrp_iphone = df.sort_values(by='Mrp', ascending=False).reset_index(drop=True).iloc[2]
third_highest_mrp_iphone

Product_Name                APPLE iPhone 11 Pro (Midnight Green, 512 GB)
Product_URL            https://www.flipkart.com/apple-iphone-11-pro-m...
Brand                                                              Apple
Sale_Price                                                        117900
Mrp                                                               140300
Number_Of_Ratings                                                   7088
Number_Of_Reviews                                                    523
Upc                                                     MOBFKCTSSJCWYGCC
Star_Rating                                                          4.6
Ram                                                                 4 GB
Discount_Percentage                                            15.965788
Color                                                     Midnight Green
iPhone_Version                                                 iPhone 11
iPhone_Category                                                iPhone 11
Name: 2, dtype: object

### 13. Average MRP of iPhones Above 100,000
### Description: Calculate the average MRP of iPhones that have an MRP greater than 100,000.

In [43]:
# Average MRP of iPhones Above 100,000

# Filter for iPhones with MRP above 100,000
high_mrp_iphones = df[df['Mrp'] > 100000]

# Calculate the average MRP
average_mrp = high_mrp_iphones['Mrp'].mean()
average_mrp

130559.09090909091

14. iPhone with Highest Ratings-to-Reviews Ratio for 128 GB
Description: Find the iPhone model with 128 GB of space that has the highest ratings-to-reviews ratio.

In [48]:
# Filter for 128 GB space
iphone_128gb = df[df['Ram'] == '128 GB']

# Check if the DataFrame is empty
if not iphone_128gb.empty:
    # Check for missing values in the relevant columns
    if iphone_128gb[['Number_Of_Ratings', 'Number_Of_Reviews']].notna().all().all():
        # Calculate ratings to reviews ratio
        iphone_128gb['Ratings_to_Reviews_Ratio'] = iphone_128gb['Number_Of_Ratings'] / iphone_128gb['Number_Of_Reviews']
        
        # Find the iPhone with the highest ratio
        highest_ratio_iphone = iphone_128gb.loc[iphone_128gb['Ratings_to_Reviews_Ratio'].idxmax()]
        print(highest_ratio_iphone)
    else:
        print("Missing values detected in 'Number_Of_Ratings' or 'Number_Of_Reviews'.")
else:
    print("No iPhones with 128 GB RAM found.")

No iPhones with 128 GB RAM found.